* {
    box-sizing: border-box;
  }
  
  
  .row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  
  /*Clearfix*/
  .row::before, 
  .row::after {
    display: table;
    content: '';
  }
  
  .row::after {
    clear: both;
  }
  
  /*Setting gutter width*/
  .col-3, .col-4, .col-6, .col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
  }
  
  /*Mobile defaults*/
  .col-3, .col-4, .col-6, .col-12 {
    width: 100%;
  }
  
  /*Media Query for larger screens*/
  @media only screen and (min-width: 640px) {
    /*3 columns, 1/4 of grid*/
    .col-3 {
      width: 25%;
    }
  
    /*4 columns, 1/3 of grid*/
    .col-4 {
      width: 33.33333%;
    }
  
    /*6 columns, 1/2 of grid*/
    .col-6 {
      width: 50%;
    }
  
    /*12 columns, full grid width*/
    .col-12 {
      width: 100%;
    }
  }