* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
    font-size: 18px;
	background-color: #b4f980;
	color: #00690e;
	padding-top: 0px;
	margin-top: 0px;
	text-align: center;
    /* background-image: url(file:///C:/Users/David/git-projects/asyncWebAppsProjects/apiCapstoneFoodProject/food-background-light.jpg); */
    /* opacity: .2; */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
}

.hidden {
	display: none;
	transition: 0.1s;
}

h1 {
	font-size: 50px;
	font-family: 'Coiny', 'Open Sans', sans-serif;
}

.page-container {
	max-width: 900px;
	margin: 0 auto;
}

.banner{
	color: #00690e;
	padding-top: 100px;
	font-family: 'Coiny', 'Open Sans', sans-serif;
}

.main-logo {
	background-color: #4080E5;
    padding: 50px;
    border-radius: 100%;
    font-size: 140px;
    color: #9cf7aa;
}

.header {
	padding-top: 40px;
	font-size: 80px;
	margin-bottom: 20px;
}

.body-paragraphs {
	color: #00690e;
	font-size: 25px;
	padding: 30px;
}

.file-upload-button {
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
	border: none;
	color: white;
	background-color: #2b942e;
	margin: 10px auto;
	cursor: pointer;
	border-radius: 25px;
}

.file-input {
	background-color: #2b942e;
    color: white;
    font-size: 30px;
    padding: 20px;
	max-width: 100%;
}

.submit-button {
	padding: 20px 50px;
	font-size: 60px;
	font-weight: 600;
	border: none;
	color: white;
	background-color: #2b942e;
	margin: 20px auto;
	cursor: pointer;
	border-radius: 30px;
	position: relative;
	top: 1px;
}

.submit-button:hover {
	background-color: rgb(98, 150, 50);
	transition: 0.1s;
}

.nav {
	background-color: white;
	width: 100%;
	display: block;
	text-align: left;
}

.nav-logo {
	font-family: 'Coiny', 'Open Sans', sans-serif;
    display: inline-block;
    padding: 15px;
    margin: 15px;
    background-color: #8bec92;
    border-radius: 100%;
    border: 3px solid green;
    font-size: 40px;
}

.nav-restart-button {
	float: right;
    font-size: 30px;
    padding: 20px;
    margin: 19px;
    cursor: pointer;
    color: white;
    background-color: #2b942e;
    border-radius: 20px;
}

.nav-restart-button:hover {
	margin-left: 15px;
	margin-right: 25px;
	transition: 0.15s;
}

.predictions-box {
	text-align: left;
	padding: 5px;
	margin: 5px;
}

.ingredient {
	font-size: 45px;
    padding: 10px;
    margin: 20px;
	background-color: #FFD283;
}

.ingredient-label {
	display: inline;
}

.delete-button {
	background-color: #FA80A3;
    font-size: 45px;
    color: white;
    cursor: pointer;
    border: none;
    float: right;
    margin: 2px;
    padding: 15px;
    position: relative;
    top: -12px;
    left: 14px;
}

.delete-button:hover {
	background-color: #F53068;
	transition: 0.1s;
}

.toggle-add-ingredient {
	background-color: #2b942e;
	padding: 10px 100px;
	cursor: pointer;
	font-weight: 600;
	font-size: 40px;
	border: none;
	color: white;
	margin: 10px auto 20px auto;
}

.toggle-add-ingredient:hover {
	background-color: rgb(98, 150, 50);
	transition: 0.1s;
}

.add-ingredient-field {
	height: 60px;
	font-size: 40px;
}

.add-ingredients-form {
	transition: 0.1s;
}

.add-ingredient-button {
	background-color: #2b942e;
	padding: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 35px;
	border: none;
	color: white;
	margin: 10px auto;
	border-radius: 20px;
}

.add-ingredient-button:hover {
	background-color: rgb(98, 150, 50);
	transition: 0.1s;
}

.confirm-ingredients-button {
	padding: 20px 40px;
	max-width: 80%;
	font-size: 60px;
	font-weight: 600;
	border: none;
	color: white;
	background-color: #2b942e;
	margin: 100px auto;
	cursor: pointer;
	border-radius: 30px;
}

.confirm-ingredients-button:hover {
	background-color: rgb(98, 150, 50);
	transition: 0.1s;
}

.recipe-results {
	padding: 20px 50px;
}

.recipe-card {
	text-align: left;
	background-color: white;
	margin-bottom: 50px;
}

.recipe-card > h2 {
	font-size: 30px;
	padding: 0px 40px;
}

.card-ingredient-list {
	padding: 0px 70px;
}

.card-ingredient-list > h3 {
	font-size: 25px;
	padding: 10px 30px;
}

.card-ingredient-list > ul > li{
	padding: 8px;
	font-size: 18px;
}

.card-actions {
	padding: 25px 90px 50px 90px;
    text-align: center;
}

.recipe-name {
	font-size: 36px;
    font-weight: 600;
    margin-top: 5px;
    color: black;
    padding: 0px 15px;
}

.recipe-image {
	width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-link-button {
	border: none;
    padding: 25px 90px;
    color: white;
    background-color: #119e00;
    font-size: 50px;
    border-radius: 10px;
}

.recipe-link-button:hover {
	cursor: pointer;
	background-color: #2b942e;
}

.retry-button {
	padding: 20px 30px;
	font-size: 45px;
	font-weight: 600;
	border: none;
	color: white;
	background-color: #1f3b9c;
	margin: 10px auto;
	cursor: pointer;
	border-radius: 30px;
}

.retry-button:hover {
	background-color: #2b942e;
	transition: 0.1s;
}