* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
    font-size: 30px;
	background-color: #d8ffd7;
	color: #00690e;
	padding-top: 0px;
	margin-top: 0px;
	text-align: center;
    /* background-image: url(file:///C:/Users/David/git-projects/asyncWebAppsProjects/apiCapstoneFoodProject/food-background-light.jpg); */
    /* opacity: .2; */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
}

.hidden {
	display: none;
	transition: 0.3s;
}

h1 {
	font-size: 50px;
	font-family: 'Thasadith', 'Open Sans', sans-serif;
}

.page-container {
	max-width: 900px;
	margin: 0 auto;
}

.banner{
	color: #00690e;
	padding-top: 100px;
	font-family: 'Thasadith', 'Open Sans', sans-serif;
}

.main-logo {
	background-color: #9cf7aa;
    padding: 50px;
    border-radius: 100%;
    border: 10px solid green;
    font-size: 140px;
}

.header {
	padding-top: 60px;
	font-size: 80px;
}

.body-paragraphs {
	color: #00690e;
	font-size: 30px;
	padding: 50px 30px;
}

.file-upload-button {
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
	border: none;
	color: white;
	background-color: #1f3b9c;
	margin: 10px auto;
	cursor: pointer;
	border-radius: 25px;
}

.file-input {
	background-color: #1f3b9c;
    color: white;
    font-size: 30px;
    padding: 20px;
	max-width: 100%;
}

.submit-button {
	padding: 20px 50px;
	font-size: 60px;
	font-weight: 600;
	border: none;
	color: white;
	background-color: #1f3b9c;
	margin: 20px auto;
	cursor: pointer;
	border-radius: 30px;
	position: relative;
	top: 1px;
	box-shadow: 10px 10px black;
}

.submit-button:hover {
	background-color: rgb(55, 0, 255);
	transition: 0.3s;
}

.nav {
	background-color: white;
	width: 100%;
	display: block;
	text-align: left;
}

.nav-logo {
	font-family: 'Thasadith', 'Open Sans', sans-serif;
	display: inline-block;
	padding: 20px;
	margin: 20px;
	background-color: #8bec92;
	border-radius: 100%;
	border: 3px solid green;
}

.nav-restart-button {
	float: right;
    font-size: 30px;
    padding: 20px;
    margin: 30px;
    cursor: pointer;
    color: white;
    background-color: rgb(31, 59, 156);
    border-radius: 20px;
}

.nav-restart-button:hover {
	margin-left: 15px;
	margin-right: 25px;
	transition: 0.15s;
}

.predictions-box {
	text-align: left;
	padding: 5px;
	margin: 5px;
}

.ingredient {
	font-size: 45px;
	padding: 10px;
	margin: 20px;
	background-color: #9cf7aa;
}

.ingredient-label {
	display: inline;
}

.delete-button {
	background-color: #FF5722;
    font-size: 45px;
    color: white;
    cursor: pointer;
    border: none;
    float: right;
    margin: 2px;
    padding: 15px;
    position: relative;
    top: -12px;
    left: 14px;
}

.ingredient:hover {
	border-left: 10px solid black;
}

.delete-button:hover {
	border: 2px solid black;
	margin: 0px;
}

.toggle-add-ingredient {
	background-color: #1f3b9c;
	padding: 10px 100px;
	cursor: pointer;
	font-weight: 600;
	font-size: 40px;
	border: none;
	color: white;
	margin: 10px auto 20px auto;
}

.add-ingredient-field {
	height: 60px;
	font-size: 40px;
}

.add-ingredients-form {
	transition: 0.3s;
}

.add-ingredient-button {
	background-color: #1f3b9c;
	padding: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 35px;
	border: none;
	color: white;
	margin: 10px auto;
	border-radius: 20px;
}

.add-ingredient-button:hover {
	background-color: rgb(55, 0, 255);
	transition: 0.3s;
}

.confirm-ingredients-button {
	padding: 20px 40px;
	max-width: 80%;
	font-size: 60px;
	font-weight: 600;
	border: none;
	color: white;
	background-color: #1f3b9c;
	margin: 100px auto;
	cursor: pointer;
	border-radius: 30px;
}

.confirm-ingredients-button:hover {
	background-color: rgb(55, 0, 255);
	transition: 0.3s;
}

.recipe-results {
	padding: 20px 50px;
}

.recipe-card {
	text-align: left;
    background-color: white;
    padding: 5px;
    border: 1px solid gray;
    margin: 40px 10px;
    border-radius: 20px;
    box-shadow: 2px 2px;
}

.recipe-name {
	font-size: 25px;
	font-weight: 600;
	text-decoration: underline;
	margin-top: 5px;
	color: black;
}

.recipe-image {
	width: 110px;
    height: 110px;
    padding: 0 5px;
    position: relative;
    right: 2px;
}

.recipe-link-button {
	border: none;
    padding: 10px;
    color: white;
    background-color: #1f3b9c;
    text-decoration: underline;
	font-size: 40px;
	border-radius: 10px;
    position: relative;
    top: -50px;
	left: 20px;
}

.recipe-link-button:hover {
	cursor: pointer;
	background-color: rgb(55, 0, 255);
}

.retry-button {
	padding: 20px 30px;
	font-size: 45px;
	font-weight: 600;
	border: none;
	color: white;
	background-color: #1f3b9c;
	margin: 10px auto;
	cursor: pointer;
	border-radius: 30px;
}

.retry-button:hover {
	background-color: rgb(55, 0, 255);
	transition: 0.3s;
}