* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.page-container {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	border: 2px dotted red;
}

.picture-results {
	text-align: left;
	background-color: beige;
	padding: 5px;
	border: 1px dotted pink;
}

.ingredient {
	padding: 5px;
	border: 2px solid black;
	background-color: white;
	
}






.recipe-card {
	text-align: left;
	background-color: lightblue;
	padding: 5px;
	border: 1px solid green;
	margin: 10px;
}